.smallBox {
	display: flex;

	font-size: 20px;
}

img {
	height: 75px;
	width: 75px;
}

p {
	line-height: 1.5;
	font-size: 1.3rem;
}


.boxFront h1 {
	font-size: 2.5rem;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	color: white;
}

.boxFront h1:before {
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto 0.7rem;
	background-size: contain;
	background-position: center;
}

article {
	width: 100%;
	height: 450px;
	color: #fff;
	perspective: 1200px;
	position: relative;
	text-align: center;
	display: flex;
	flex-shrink: 1;
}

article .boxFront, article .boxBack {
	transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

article .boxFront {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	transform: rotateY(0deg);
	background-size: cover;
	background-position: center;
	background-color: #2e2e2e;
	background-blend-mode: overlay;
}

article .boxFront .text {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

article .boxBack {
	transform: rotateY(180deg);
	background: #ae0046;
	position: relative;
	z-index: 1;
}

article .flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article .boxBack .text {
	padding: 0 1.7rem;
	transform: translate3d(80%, 0, 0);
}

article .text {
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.5s linear;
	opacity: 0;
}

article:hover .boxFront {
	transform: rotateY(-180deg);
}

article:hover .boxFront .text {
	transform: translate3d(-200%, 0, 0);
	opacity: 0;
}

article:hover .boxBack {
	transform: rotateY(0deg);
}

article:hover .boxBack .text {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

article:nth-child(1) .boxFront {
	background-image: url(assets/images/book1.jpg);
	height: 100%;
}

article:nth-child(2) .boxFront {
	background-image: url(assets/images/book2.jpg);
}

article:nth-child(3) .boxFront {
	background-image: url(assets/images/book3.jpg);
}

